<table style="width: auto">
<tbody>
  <tr>
    <td>
      <img src="<{$xoops_url}>/modules/<{$mydirname}>/images/icon_onlinesimulation.gif" alt="<{$itemtype.display_name|simpf_escape}>" />
    </td>
    <td style="vertical-align: middle; font-size: large;">
      <a href="<{$xoonips_url}>/itemselect.php?op=itemtypesearch&amp;search_itemtype=<{$itemtype.name}>"><{$itemtype.display_name|simpf_escape}></a>
    </td>
  </tr>
</tbody>
</table>

<hr />
<{$smarty.const._MD_XNPONLINESIMULATION_EXPLANATION}>
